body {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;

  font-display: swap;
}

/* login page header */

.login-page-header {
  position: fixed;
  z-index: 100;

  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  text-align: center;

  background: #006e7f;
}

.login-page-header__logo {
  margin-top: 0;
  margin-bottom: 0;

  color: #fff;

  font-size: 1.75rem;
  font-weight: 700;
}

.login-page-wrapper {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;

  width: 100%;
  height: 100%;
  min-height: 100vh;

  background: #006e7f;

  align-items: center;
  align-content: center;
  justify-content: center;
}

/* login page */

.login-page-container {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.declaration {
  display: flex;

  padding-top: 7.5rem;

  text-align: center;

  color: #fff;

  font-size: 2rem;

  align-items: center;
  justify-content: center;
  flex: 1;
}

.login {
  margin-top: 1.5rem;

  text-align: center;

  color: #fff;
  background-color: #006e7f;

  flex: 1;
}

.login__title {
  margin-bottom: 2rem;

  text-align: left;
}

.login__form {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 10rem;
}

.login__label {
  margin-bottom: 1rem;
}

.login__input {
  box-sizing: border-box;
  width: 100%;
  padding-top: 0.375rem;
  padding-right: 1rem;
  padding-bottom: 0.375rem;
  padding-left: 1rem;

  border: none;

  font-size: 1.25rem;
}

.login__btn {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;

  color: #006e7f;
  border: none;

  font-size: 1.25rem;
  font-weight: 700;
}

/* page header */

.page-header {
  position: fixed;
  z-index: 100;

  display: flex;

  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  color: #fff;
  background-color: #006e7f;

  font-weight: 700;
}

.page-header__container {
  position: relative;

  display: flex;

  width: 100%;
  max-width: 42rem;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;

  justify-content: space-around;
}

.page-header__logout-link {
  position: absolute;
  top: 0.3rem;
  left: 1rem;

  display: flex;
  flex-direction: row;

  text-decoration: none;

  color: #ffffff;

  justify-content: flex-start;
}

.page-header__logout-img {
  padding-bottom: 0.25rem;
}

.page-header__logout-link-text {
  display: none;

  margin: 0;
  padding-left: 0.75rem;

  font-size: 1.1rem;
}

.page-header__chart-link-block {
  position: absolute;
  top: 0.3rem;
  right: 1rem;
}

.page-header__logo {
  width: 100%;

  text-align: center;
}

.page-header__logo-link {
  text-decoration: none;

  color: #fff;

  font-size: 1.5rem;
  font-weight: 700;
}

.page-header__chart-link {
  text-decoration: none;

  color: #fff;

  font-size: 1.1rem;
}

.page-header__chart-link-text {
  display: none;

  margin: 0;
  padding-left: 0.75rem;
}

.page-footer {
  display: flex;

  width: 100%;
  margin: auto auto 0 auto;

  color: #fff;
  background-color: #006e7f;
}

.page-footer__container {
  position: relative;

  display: flex;

  width: 100%;
  max-width: 42rem;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;

  justify-content: center;
}

/* chart page */

.chart-page {
  display: flex;
  flex-direction: column;

  max-width: 42rem;
  margin: 0 auto;
  padding-top: 3.5rem;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;

  align-items: center;
}

.filters {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 42rem;
}

.filters__title {
  max-width: 42rem;
  padding-right: 0rem;
  padding-left: 1rem;

  color: #2f3234;
}

.filters__buttons {
  display: flex;
  flex-direction: row;

  margin-top: 0;
  padding-left: 0;

  justify-content: space-between;
  flex-wrap: wrap;
}

.filters__buttons-item {
  display: flex;
  flex-direction: row;

  width: 19%;
  min-width: 5.25rem;
  padding-top: 0.3rem;
  padding-right: 0.25rem;
  padding-bottom: 0.3rem;
  padding-left: 0.25rem;

  list-style: none;

  cursor: pointer;
  text-align: center;

  color: #fff;
  border: 1px solid #fff;
  background-color: #dcdcdc;

  justify-content: center;
  align-items: center;
  flex: 1;
}

.filters__buttons-item--active {
  background-color: #006e7f;
}

.chart {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 42rem;
  margin-top: 0;

  justify-content: center;
  align-items: center;
}

.chart__title-add-vacancy-block {
  display: flex;
  flex-direction: row;

  width: 100%;

  justify-content: space-around;
}

.chart__title {
  width: 100%;
  max-width: 42rem;
  padding-left: 1rem;

  color: #2f3234;

  flex: 4;
}

.chart__add-vacancy-link {
  margin-top: 1.563rem;
  margin-right: 1rem;

  text-align: right;
  text-decoration: none;

  color: #a9a9a9;

  font-size: 1.125rem;
  font-style: italic;

  flex: 1;
}

/* position badges */

.positions-block {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 42rem;

  justify-content: space-between;
}

.position-badge {
  display: flex;
  flex-direction: row;

  margin-bottom: 0.5rem;
  padding: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;

  text-decoration: none;

  color: #2f3234;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  box-shadow: 0 0 2px #d3d3d3;

  justify-content: space-between;
}

.position-badge__name {
  display: block;

  margin: 0;
  margin-bottom: 1rem;
  padding-right: 1rem;

  text-decoration: none;

  color: #2f3234;

  font-size: 1.375rem;
}

.position-badge__name:hover {
  transition: 0.05s linear;

  color: #006e7f;
}

.position-badge__name:hover {
  transition: 0.05s linear;

  color: #006e7f;
}

.position-badge__name:active {
  transition: 0.05s linear;

  color: #ff9180;
}

.position-badge__company {
  text-decoration: none;

  color: #a9a9a9;
}

.position-badge__company:hover {
  transition: 0.05s linear;

  color: #006e7f;
}

.position-badge__company:active {
  transition: 0.05s linear;

  color: #ff9180;
}

/* position page */

.position-page {
  max-width: 42rem;
  margin: 0 auto;
  padding-top: 5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.edit-link {
  padding-top: 0.375rem;

  text-decoration: none;

  color: #a9a9a9;

  font-size: 1.125rem;
  font-style: italic;
}

.position-info__title-edit-block {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.position-info__title {
  margin-top: 0;

  color: #2f3234;

  flex: 4;
}

.edit-link__img {
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 0.25rem;

  fill: #a9a9a9;
}

.position-info__company-link {
  transition: 0.05s linear;
  text-decoration: none;

  color: #2f3234;

  font-size: 1.25rem;
}

.position-info__company-link:hover {
  transition: 0.05s linear;

  color: #006e7f;
}

.position-info__description {
  text-align: justify;

  color: #2f3234;
}

.conditions__title {
  margin-top: 3rem;

  color: #2f3234;
}

.conditions__list {
  display: flex;
  flex-direction: row;

  padding-left: 0;

  justify-content: space-between;
  flex-wrap: wrap;
}

.conditions__list-item {
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;

  list-style: none;

  color: #2f3234;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  box-shadow: 0 0 2px #d3d3d3;

  flex-basis: 48%;
}

.comments {
  padding-bottom: 3rem;
}

.comments__title {
  margin-top: 3rem;

  color: #2f3234;
}

.comments__text {
  text-align: justify;

  color: #2f3234;
}

/* company page */

.company-page {
  max-width: 42rem;
  margin: 0 auto;
  padding-top: 5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.company-info__title-edit-block {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.company-info__title {
  margin-top: 0;
  margin-bottom: 0;

  color: #2f3234;
}

.company-info__description {
  text-align: justify;

  color: #2f3234;
}

/* add vacancy page */

  .add-vacancy {
    box-sizing: border-box;
    max-width: 42rem;
    margin: 0 auto;
    padding-top: 5rem;
    padding-right: 1rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
  }

  .add-vacancy__title {
    margin-top: 0;
    padding-left: 0.875rem;

    color: #2f3234;
  }

  .vacancy-form__main-info-title {
    font-size: 1.25rem;
  }

  .vacancy-form__conditions-title {
    font-size: 1.25rem;
  }

  .vacancy-form__label {
    display: flex;
    flex-direction: row;

    box-sizing: border-box;
    margin-bottom: 1.5rem;

    align-items: baseline;
    justify-content: space-between;
  }

  .vacancy-form__text {
    margin-top: 0;
    margin-bottom: 0;

    flex: 2;
  }

  .vacancy-form__input {
    padding: 0.475rem;

    color: #2f3234;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    box-shadow: 0 0 2px #d3d3d3;

    flex: 3;
  }

  .vacancy-form__input--textarea {
    resize: none;
  }

  .vacancy-form__input--checkbox {
    border: none;
    box-shadow: none;
  }

  .status-buttons {
    flex: 3;
  }

  .status-buttons {
    display: flex;
    flex-direction: row;

    margin-top: 0;
    padding-left: 0;

    justify-content: space-between;
    flex-wrap: wrap;
  }

  .status-buttons__item {
    display: flex;
    flex-direction: row;

    width: 19%;
    min-width: 5.25rem;
    padding-top: 0.3rem;
    /* padding-right: 0.25rem; */
    padding-bottom: 0.3rem;
    /* padding-left: 0.25rem; */

    list-style: none;

    text-align: center;

    color: #fff;
    border: 1px solid #fff;
    background-color: #dcdcdc;

    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .status__buttons-item--long-text {
    font-size: 0.75rem;
  }

  .status__buttons-item--active {
    background-color: #006e7f;
  }

  .buttons-block {
    display: flex;
    flex-direction: row;

    width: 100%;

    justify-content: center;
  }

  .button {
    max-width: 8rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    transition: background-color 0.1s linear;

    color: #fff;
    border: none;
  }

  .button--cancel {
    background-color: #dcdcdc;

    flex: 1;
  }

  .button--cancel:hover {
    transition: background-color 0.2s linear;

    background-color: #999;
  }

  .button--cancel:active {
    transition: background-color 0.2s linear;

    background-color: #999;
  }

  .button--save {
    background-color: #006e7f;

    flex:1;
  }

  .button--save:hover {
    transition: background-color 0.2s linear;

    background: #0092a8;
  }

  .button-save:active {
    transition: background-color 0.2s linear;

    background: #0092a8;
  }

  .vacancy-form__fieldset {
    display: flex;
    flex-direction: column;

    padding-bottom: 2rem;

    color: #2f3234;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    box-shadow: 0 0 2px #d3d3d3;

    align-items: center;
  }

  .vacancy-form__comments {
    margin-bottom: 2rem;
  }

  .vacancy-form__comments-title {
    font-size: 1.25rem;
  }

  .vacancy-form__comments-textarea {
    box-sizing: border-box;
    width: 100%;
    max-width: 40.5rem;
    max-height: 5rem;
    padding: 0.475rem;

    resize: none;

    color: #2f3234;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    box-shadow: 0 0 2px #d3d3d3;
  }

/* media  queries*/

@media (min-width: 680px) {

  .login-page-container {
    flex-direction: row;

    max-width: 65rem;
  }

  .declaration {
    padding-top: 0;
    padding-right: 3rem;
    padding-left: 3rem;
  }

  .login {
    max-width: 20rem;
    padding-right: 3rem;
    padding-left: 3rem;

    flex: 1;
  }

  .page-header__chart-link-text {
    display: block;
  }

  .page-header__logout-link-text {
    display: block;
  }

  .page-header__img {
    position: absolute;
    left: -0.75rem;
  }

  .chart {
    padding-right: 0;
    padding-left: 0;
  }

  .conditions__list-item {
    margin-bottom: 1.5rem;

    flex-basis: 31%;
  }

  .add-vacancy {
    padding-right: 0;
    padding-left: 0;
  }

  .add-vacancy__title {
    padding-left: 1.5rem;
  }

  .vacancy-form__fieldset {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}
