<header class="page-header">
  <div class="page-header__container">
    <a href="#" class="page-header__logo-link">JobFilter</a>
    <p class="page-header__description">Organize Your Job Search</p>
    <a href="#" class="page-header__chart-link">Chart</a>
  </div>
</header>
