<header class="page-header">
  <div class="page-header__container">
    <div class="page-header__logo">
      <a href="/chart" class="page-header__logo-link">JobFinder</a>
    </div>
    <div class="page-header__chart-link-block">
      <a href="/chart" class="page-header__chart-link">
        <img src="/static-assets/img/bar-chart.svg" alt="graph" class="page-header__img">
        <p class="page-header__chart-link-text">Chart</p>
      </a>
    </div>
  </div>
</header>
