<header class="page-header">
  <div class="page-header__container">
    <a href="/loginPage" class="page-header__logout-link">
      <img src="/static-assets/img/logout.svg" alt="logout" class="page-header__logout-img">
      <p class="page-header__logout-link-text">Logout</p>
    </a>
    <div class="page-header__logo">
      <a href="/chart" class="page-header__logo-link">JobFinder</a>
    </div>
    <div class="page-header__chart-link-block">
      <a href="/chart" class="page-header__chart-link">
        <svg class="page-header__img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 490 490" style="enable-background:new 0 0 490 490;" xml:space="preserve" width="16px" height="16px" class=""><g><g>
        	<g>
        		<rect y="162.2" id="bar1" data-original="#000000" class="active-path" data-old_color="#ffffff" fill="#ffffff"/>
        		<rect x="186.3" id="bar2" data-original="#000000" class="active-path" data-old_color="#ffffff" fill="#ffffff"/>
        		<rect x="372.2" y="82.4" id="bar3"  data-original="#000000" class="active-path" data-old_color="#ffffff" fill="#ffffff"/>
        	</g>
        </g></g> </svg>
        <p class="page-header__chart-link-text">Chart</p>
      </a>
    </div>
  </div>
</header>
