<header class="page-header">
  <div class="page-header__container container">
    <a href="/chart" class="page-header__logo-link">JobFinder</a>
    <a href="/chart" class="page-header__chart-link">Chart</a>
  </div>
</header>
