{{> html/start title="addVacancy" settings=settings }}
{{> html/header }}

  <main>
    <section class="add-vacancy">
      <h1 class="add-vacancy__title">New Vacancy</h1>
      <form action="" class="vacancy-form">
        <fieldset class="vacancy-form__fieldset">
          <div class="vacancy-form__main-info">
            <h2 class="vacancy-form__main-info-title">Main Info</h2>

            {{>html/input title="Title" id="title"}}
            {{>html/input title="Company" id="company"}}

            <label for="companyInfo" class="vacancy-form__label vacancy-form__label--textarea">
              <p class="vacancy-form__text">Company Info</p>
              <textarea name="info" id="companyInfo" rows="10" class="vacancy-form__input vacancy-form__input--textarea"></textarea>
            </label>
          </div>

          <div class="vacancy-form__conditions-input">
            <h2 class="vacancy-form__conditions-title">Conditions</h2>
            {{>html/input title="Salary" id="salary"}}
            {{>html/input title="Work Time" id="worktime"}}
            {{>html/input title="Road Time" id="roadtime"}}

            <label for="" class="vacancy-form__label">
              <p class="vacancy-form__text">Interesting</p>
              <input type="checkbox" class="vacancy-form__input vacancy-form__input--checkbox" id="interesting">
            </label>
            <label for="education" class="vacancy-form__label">
              <p class="vacancy-form__text">Requires Education</p>
              <input type="checkbox" class="vacancy-form__input vacancy-form__input--checkbox" id="education">
            </label>

            <label for="status" class="vacancy-form__label vacancy-form__label--status">
              <p class="vacancy-form__text vacancy-form__text--status">Status</p>
              <ul class="status-buttons">
                {{>html/buttons-set-item class="status-buttons__item" title="Offer"}}
                {{>html/buttons-set-item class="status-buttons__item" title="Candicate"}}
                {{>html/buttons-set-item class="status-buttons__item status__buttons-item--long-text" title="Not Interested"}}
                {{>html/buttons-set-item class="status-buttons__item" title="Decline"}}
              </ul>
            </label>
          </div>
          <section class="vacancy-form__comments">
            <h2 class="vacancy-form__comments-title">Comments</h3>
            <textarea name="info" id="companyInfo" rows="10" class="vacancy-form__comments-textarea"></textarea>
          </section>
          <section class="buttons-block">
            {{>html/button class="button button--save" formaction="/position" title="Save"}}
            {{>html/button class="button button--cancel" formaction="/chart" title="Cancel"}}
          </section>
        </fieldset>
      </form>
    </section>
  </main>
  {{> html/footer }}
  <script type="text/javascript" src="static-assets/js/addVacancy.js"></script>
  {{> html/end }}
