{{> html/start title="Chart" settings=settings }}
{{> html/header }}
<main>
  <div class="chart-page">
    <section class="search">
      <form id="live-search" action="" class="search__form" method="post">
        <fieldset class="search__fieldset">
          <input type="text" class="search__text-input" id="input" placeholder="search" />
        </fieldset>
      </form>
    </section>
    <section class="filters">
      <h2 class="filters__title">Filters</h2>
      <ul class="filters__buttons">
        {{>html/buttons-set-item class="filters__buttons-item filters__buttons-item--salary" linkClass="filters__buttons-link" title="Salary"}}
        {{>html/buttons-set-item class="filters__buttons-item filters__buttons-item--worktime" linkClass="filters__buttons-link" title="Work hours"}}
        {{>html/buttons-set-item class="filters__buttons-item filters__buttons-item--roadtime" linkClass="filters__buttons-link" title="Road time"}}
      </ul>
    </section>
    <section class="chart">
      <div class="chart__title-add-vacancy-block">
        <h1 class="chart__title">Chart</h1>
        <a href="/add-vacancy" class="chart__add-vacancy-link">
          <img src="/static-assets/img/plus.svg" alt="add" class="chart__add-vacancy-img">
          Add
        </a>
      </div>


      <div class="positions-block"></div>
      <div class="paginator"></div>
    </section>
  </div>
</main>

{{> html/footer }}
<script type="text/javascript" src="static-assets/js/chart.js"></script>
{{> html/end }}
