{{> html/start title="Chart" settings=settings }}
{{> html/header }}
<main>
  <div class="chart-page__container container">
    <section class="filters">
      <h2 class="filters__title">Filters</h2>
      <ul class="filters__buttons">
        <li class="filters__buttons-item">Salary</li>
        <li class="filters__buttons-item">Work hours</li>
        <li class="filters__buttons-item">Road time</li>
        <li class="filters__buttons-item">Interesting</li>
        <li class="filters__buttons-item"> Demand Education</li>
      </ul>
    </section>
    <section class="chart">
      <h1 class="chart__title">Chart</h1>
    </section>
  </div>
</main>

<script type="text/javascript" src="static-assets/js/chart.js"></script>
{{> html/end }}
