{{> html/start title="Chart" settings=settings }}
{{> html/header }}
<main>
  <div class="company-page">
    <section class="company-info">
      <div class="company-info__title-edit-block">
        <h1 class="company-info__title"></h1>
        <a href="" class="edit-link"><img src="/static-assets/img/edit.svg" class="edit-link__img" alt="edit">edit</a>
      </div>
      <br>
      <p class="company-info__description"></p>
    </section>
    <section class="other-vacancies"></section>
</main>
{{> html/footer }}
<script type="text/javascript" src="static-assets/js/company.js"></script>
{{> html/end }}
