{{> html/start title="Login" settings=settings }}
<header class="login-page-header">
  <div class="container">
    <h2 class="login-page-header__logo">JobFinder</h2>
  </div>
</header>
<main>
  <div class="login-page-wrapper">
    <div class="container login-page-container">
      <section class="declaration">
        <h1 class="declaration__title">Organize Your Job Search</h1>
      </section>
      <section class="login">
        <div class="login__container">
          <h2 class="login__title">Log in</h2>
          <form action="/chart" class="login__form">
            <label for="login" class="login__label">
              <input id="login" type="text" placeholder="Email" class="login__input login__input--login" required>
            </label>
          <label for="password" class="login__label">
            <input id="password" type="password" placeholder="Password" class="login__input login__input--password" required>
          </label>
          <button class="login__btn">LOGIN</button>
        </form>
        </div>
      </section>
    </div>
  </div>
</main>

{{> html/end }}
