{{> html/start title="Position" settings=settings }}
{{> html/header }}
<main>
  <div class="position-page">
    <section class="position-info">
      <div class="position-info__title-edit-block">
        <h1 class="position-info__title"></h1>
        <a href="/edit-vacancy" class="edit-link"><img src="/static-assets/img/edit.svg" class="edit-link__img" alt="edit">edit</a>
      </div>
      <br>
      <a href="/company" class="position-info__company-link"></a>
      <p class="position-info__description"></p>
      </section>
      <section class="conditions">
        <h2 class="conditions__title">Conditions</h2>
        <ul class="conditions__list">
          <li class="conditions__list-item conditions__list-item--salary">
            <h3 class="conditions__list-item-title">Salary</h3>
            <p class="conditions__list-item-value"></p>
          </li>
          <li class="conditions__list-item conditions__list-item--worktime">
            <h3 class="conditions__list-item-title">Work Time</h3>
            <p class="conditions__list-item-value"></p>
          </li>
          <li class="conditions__list-item conditions__list-item--roadtime">
            <h3 class="conditions__list-item-title">Road Time</h3>
            <p class="conditions__list-item-value"></p>
          </li>
          <li class="conditions__list-item conditions__list-item--interesting">
            <h3 class="conditions__list-item-title">Interesting</h3>
            <p class="conditions__list-item-value"></p>
          </li>
          <li class="conditions__list-item conditions__list-item--education">
            <h3 class="conditions__list-item-title">Education</h3>
            <p class="conditions__list-item-value"></p>
          </li>
          <li class="conditions__list-item conditions__list-item--status">
            <h3 class="conditions__list-item-title">Status</h3>
            <p class="conditions__list-item-value"></p>
          </li>
        </ul>
      </section>
      <section class="comments">
        <h2 class="comments__title">Comments</h2>
      </section>
  </div>
</main>
{{> html/footer }}
<script type="text/javascript" src="static-assets/js/position.js"></script>
{{> html/end }}
