{{> html/start title="Position" settings=settings }}
{{> html/header }}
<main>
  <div class="position-page">
    <section class="position-info">
      <div class="position-info__title-edit-block">
        <h1 class="position-info__title">Position</h1>
        <a href="" class="edit-link"><img src="/static-assets/img/edit.svg" class="edit-link__img" alt="edit">edit</a>
      </div>
      <br>
      <a href="/company" class="position-info__company-link">Company</a>
      <p class="position-info__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi adipisci, deleniti doloribus consectetur ad nam facere, totam quia excepturi quae iure eum. Dolores maiores ut sapiente expedita odit
        omnis reiciendis.</p>
      </section>
      <section class="conditions">
        <h2 class="conditions__title">Conditions</h2>
        <ul class="conditions__list">
          <li class="conditions__list-item">
            <h3 class="conditions__list-item-title">Salary</h3>
            <p class="conditions__list-item-value">$100000/year</p>
          </li>
          <li class="conditions__list-item">
            <h3 class="conditions__list-item-title">Work Time</h3>
            <p class="conditions__list-item-value">8 hours</p>
          </li>
          <li class="conditions__list-item">
            <h3 class="conditions__list-item-title">Road Time</h3>
            <p class="conditions__list-item-value">15 min</p>
          </li>
          <li class="conditions__list-item">
            <h3 class="conditions__list-item-title">Interesting</h3>
            <p class="conditions__list-item-value">Yes</p>
          </li>
          <li class="conditions__list-item">
            <h3 class="conditions__list-item-title">Demand Additional Education</h3>
            <p class="conditions__list-item-value">No</p>
          </li>
          <li class="conditions__list-item">
            <h3 class="conditions__list-item-title">Status</h3>
            <p class="conditions__list-item-value">Offer</p>
          </li>
        </ul>
      </section>
      <section class="comments">
        <h2 class="comments__title">Comments</h2>
        <p class="comments__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium explicabo optio, minima neque sunt enim, voluptatum quaerat architecto minus quos, est iste recusandae quo nostrum ipsa fuga iure. Nam, fuga.</p>
      </section>
  </div>
</main>

{{> html/end }}
